@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat-v25-cyrillic_latin-regular.woff2) format("woff2"), url(../fonts/montserrat-v25-cyrillic_latin-regular.ttf) format("truetype");
}
body {
  margin: 0;
}
.icons {
  box-sizing: border-box;
  max-width: 1208px;
  margin: 0 auto;
  padding: 12px 13px;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 35px 50px;
  list-style-type: none;
}
@media only screen and (max-width: 1099px) {
  .icons {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1023px) {
  .icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 35px 90px;
  }
}
@media (max-width: 767px) {
  .icons {
    gap: 35px 40px;
  }
}
@media only screen and (max-width: 699px) {
  .icons {
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 90px;
  }
}
@media (max-width: 575px) {
  .icons {
    gap: 20px 70px;
  }
}
@media (max-width: 479px) {
  .icons {
    gap: 14px 44px;
  }
}
.icons__item {
  max-width: 230px;
  box-sizing: border-box;
}
.icons__logo {
  position: relative;
  width: 100%;
  padding-top: 55.65%;
  margin-bottom: 16px;
  box-sizing: border-box;
}
.icons__logo img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  box-sizing: border-box;
}
@media (max-width: 575px) {
  .icons__logo {
    margin-bottom: 6px;
  }
}
.icons__name {
  margin: 0;
  padding-bottom: 29px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .icons__name {
    padding-bottom: 23px;
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .icons__name {
    padding-bottom: 20px;
    font-size: 16px;
  }
}
